@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@font-face {
		font-family: 'Array-Regular';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/Roboto.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Space-Mono';
		src: url('fonts/spacemono/SpaceMonoNerdFontMono-Regular.ttf') format('truetype');
		font-weight: normal;
		font-size: normal;
	}
	@font-face {
		font-family: 'Hoover-Regular';
		src:
			url('fonts/hoover/Hoover-Regular.woff2') format('woff2'),
			url('fonts/hoover/Hoover-Regular.woff') format('woff'),
			url('fonts/hoover/Hoover-Regular.ttf') format('truetype');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}
}
